git+https://github.com/xivo-pbx/xivo-lib-python.git  # from xivo-dao
git+https://github.com/xivo-pbx/xivo-dao.git
alembic==0.6.5
psycopg2==2.5.4  # from xivo-dao
pyyaml==3.11  # from xivo-lib-python
sqlalchemy==0.9.8  # from xivo-dao
unidecode==0.04.16
