https://github.com/wazo-platform/xivo-lib-python/archive/master.zip  # from xivo-dao
https://github.com/wazo-platform/xivo-dao/archive/master.zip
https://github.com/wazo-platform/wazo-uuid/archive/master.zip
alembic==1.8.1
psycopg2-binary==2.9.5
pyyaml==6.0  # from xivo-lib-python
sqlalchemy==1.4.46  # from xivo-dao
sqlalchemy-utils==0.38.2 # from xivo-dao
