Source: xivo-manage-db
Section: admin
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python-all (>=2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-manage-db
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         alembic,
         python-sqlalchemy (>= 0.9.4-1),
         python-unidecode,
         systemd,
         xivo-dbms (>= 16.11~20160825.142748.ed6556f),
         xivo-lib-python (>= 16.06~20160509.153738.904a909),
         xivo-libdao (>= 14.08~),
         xivo-auth-keys (>= 16.01~20160201.125515.f4abdfe)
Description: Wazo database tools manager
 This package provide Wazo managing database tools
