Source: xivo-manage-db
Section: admin
Priority: extra
Maintainer: XiVO DEV Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Build-Depends: debhelper (>= 9), dh-python, python-all (>=2.7), python-setuptools
Standards-Version: 3.9.4
X-Python-Version: >= 2.7
Homepage: http://projects.xivo.io

Package: xivo-manage-db
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         alembic,
         postgresql-9.4,
         postgresql-contrib-9.4,
         postgresql-plpython-9.4,
         python-sqlalchemy (>= 0.9.4-1),
         python-unidecode,
         xivo-libdao (>= 14.08~)
Description: XiVO database tools manager
 This package provide XiVO managing database tools
